<footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.linkedin.com/in/deepak-sisodiaa-1710a7165/">Deepak Sisodiaa</a>
    </div>
  </div>
</footer>